/**
 * redis-web-gui.css
 *
 * Author: Toki Migimatsu
 * Created: April 2017
 */

body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0px;
	background-color: #fafafa;
}

/*** Two column page ***/
#container {
	height: 100%;
}
#container > #left-col {
	float: left;
	height: 100vh;
	min-width: 200px;
	/* margin-right: 10px; */
	overflow-y: auto;
	background-color: white;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2)
}
#container #right-col {
	height: 100vh;
	overflow-y: auto;
	display: flex;
}
#container #keyval-card-container {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 20px 20px 20px 20px;
}

/*** Key list ***/
#left-col h1 {
	font-size: 14.5px;
	color: #424242;
	margin: 0px;
	padding: 25px 20px 15px 20px;
	font-weight: bold;
}
#left-col ul {
	padding: 0px;
	margin: 0px;
}
#left-col li {
	display: block;
	font-size: 14.5px;
	padding: 0px;
	height: 40px;
	line-height: 40px;
	margin: 0px 20px;
}
#left-col a {
	color: #757575;
	text-decoration: none;
	font-weight: normal;
	display:block
}
#left-col a:hover {
	background-color: #e0e0e0;
	color: black;
}

/*@media (max-width: 900px) {
	#left-col {
		display: none;
	}
}*/

/*** Card block ***/
form {
	/* margin: 18px 18px 20px 10px; */
	margin: 0px 0px 20px 0px;
}
.keyval-card {
	/* display: inline-block; */
	/* Need to somehow use min-width here */
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	background-color: white;
}

/*** Card header ***/
.key-header {
	/* display: block; */
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	background-color: lightcoral;
	color: white;
	padding: 0px 15px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}
.key-header .buttons {
	display: flex;
}
.key-header input {
	border: none;
	line-height: 40px;
	padding: 0px 15px;
	margin: 0px -5px 0px 0px;
	background-color: transparent;
	color: white;
	font-size: 14.5px;
	outline: none;
	text-transform: uppercase;
}
.key-header input:hover {
	background-color: #ea454b;
	cursor: pointer;
}

/*** Card content ***/
.val-body {
	padding: 14px 0px 7px 14px;
}
.val-body input.val {
	font-family: "Inconsolata", monospace;
	font-size: 14px;
	width: 100px;
	border: 1px solid lightgray;
	outline: none;
	padding: 0px 6px;
	line-height: 24px;
	margin: 0px 3px 7px 0px;
}
.val-body input.val:focus {
	border-bottom: 3px solid lightcoral;
	margin-bottom: 5px;
}
.val-string {
	margin-right: 11px;
}
.val-string input.val {
	width: 342px !important;
}
.val-triplet {
	display: inline-block;
	margin-right: 11px;
}
